.subTodoItemContainer {
  display: flex;
  justify-content: space-between;
}
.taskNameContainer {
  margin-left: 20px;
  margin-top: 23px;
}
.subTodoItemContainer button {
  margin-left: 8px;
  background-color: #3498db;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
.buttonContainer {
  margin-left: 50px;
  margin-top: 20px;
}
